.transactions .actionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transactions .actionContainer .left{
    display: flex;
    gap: 8px;
    align-items: center;
}