.transaction-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 8px;
  cursor: pointer;
  > img {
    width: 40px;
    height: 40px;
  }
  > .content {
    flex-grow: 1;
  }
}
