.transaction-list {
  height: 100%;
  .container {
    > .header {
      display: flex;
      justify-content: space-between;
      padding: 12px;
    }
    > .content {
      padding: 12px;
    }
  }
}
